<h1>All Cars</h1>

  <% @cars.each do |car| %>
    <h2><%= car.brand %></h2>
    <h3><%= car.model %></h2>
    <p>Year: <%= car.year %></p>
    <p>Fuel: <%= car.fuel%></p>
    <p><%= car.created_at.strftime("%b %e, %l:%M %p") %></p>
    <p><%= car.owner.nickname %></p>
      <%= link_to "💬Comment", car_path(car) %>
    <hr>
  <% end %>
